<div class="container mt-5">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Register 
    </button>
    <div class="row">
        <div id="loginPage" class="col-md-6 card p-4">
            <div id="login">
                <h1 class="mb-4">Login</h1>
                <label for="employeIdinput" class="form-label">Enter Employee Id:</label>
                <input type="text" id="employeIdinput" class="form-control mb-3" [(ngModel)]="loginEmployeeId">
                <div class="text-danger" *ngIf="!loginSuccessfull">Error!! Invalid Employee Id</div>
                <button id="loginBtn" class="btn btn-primary" (click)="login()">Login</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Register</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="registration">
                    <label for="employeIdinput" class="form-label">Enter Employee Id:</label>
                    <input type="text" id="employeIdinput" class="form-control mb-3" [(ngModel)]="registerEmployeeId">
                    <button id="registerBtn" class="btn btn-success" (click)="register()">Register Now</button>
                </div>
            </div>
        </div>
    </div>
</div>